<%- include("header") -%>

<main id="about-us">
    <div class="container">
        <h2>Projeto desenvolvido para bootcamp de Web Development.</h2>
        <p>Utilizando node.js + express + EJS</p>
    </div>
</main>

<%- include("footer") -%>